{% extends "index.html" %}
{% block content %}

{% for messages in get_flashed_messages() %}
<script>
  const messages = "{{ messages }}";

  if (messages.isArray) {
    for (var i = 0; i < messages.length; i++) {
      alert(messages[i]);
    }
  } else {
    alert(messages)
  }
</script>
{% endfor %}

<!-- upload file -->
<form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
  <div class="w-75">
    <div>
        <div>
          <div class="form-group">
            {{form.image.label(class="form-control-file")}}
            {{form.image(accept="image/*", class="pb-2 btn btn-success", onchange="showImgInput(event)")}}
            {% if form.image.errors %}
            {% for error in form.image.errors%}
            <span class="text-danger">{{error}}</span>
            <br />
            {%endfor%}
            {%endif%}
          </div>
          <div class="form-group">
            {{form.rate.label(class="form-control-label")}}
            {% if form.rate.errors %}
            {{ form.rate(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
              {%for error in form.rate.errors%}
              <span>{{error}}</span>
              {%endfor%}
            </div>
            {%else%}
            {{form.rate(id="inputScale", type="range", oninput="changeScale()", min="1", max="100")}}
            <span id="inputPercentage">
              {{rate}}
            </span>%
            {%endif%}
          </div>
      </div>
    </div>
    <div class="form-group d-flex align-items-center">
      {{form.submit(class="btn btn-success", onclick="displayLoading()")}}
    </div>
  </div>
</form>

<!-- loading animation -->
<div id="loading" class="text-center d-none py-5">
  <img src="../static/assets/loading.gif" height="256" class="my-3">
  <br>
  <i>Salam dari Binjai!</i>
</div>

<!-- hasil -->
{% if imgFilename and (not isLoading) %}
<div id="result">
  <div class="row">
    <div class="col-sm mt-3">
      <h2>Before: </h2>
      <!-- input image -->
      <img id="imgInput" class="w-100 img-fluid d-flex" src="{{url_for('static', filename='uploads/'+imgFilename)}}">
      
    </div>
    <div id="after" class="col-sm mt-3">
      <h2>After: </h2>
      <div>
        <div id="imgOutput" class="d-flex position-relative">
          <!-- download button -->
          <a id="downloadButton" href="/download/{{imgFilename}}"
            class="btn btn-success position-absolute bottom-0 mb-3 mx-3">
            Download
          </a>
          <!-- output image -->
          <img class="w-100 img-fluid d-flex" src="{{url_for('static', filename='downloads/'+imgFilename)}}">
        </div>
      </div>
    </div>
  <p class="mt-4">
    Image pixel difference percentage:
    <span id="pixelDiff">
      {{rate}}
    </span> %
    <br>
    Image compression time:
    <span id="compressTime">
      {{compressionDuration}}
    </span> sec
  </p>
</div>
{%endif%}


{% endblock content %}